body {
    background-color: rgb(46, 46, 46);
}
p {
    color: rgb(223, 223, 223);
    font-size: 20px;
}
h1 {
    color: rgb(200, 200, 200)
}
a {
    color: rgb(255, 255, 255);
    font-size: 50px;
    top: 50%;
    width: 100%;
    text-align: center;
}
.sticky_bar {
    z-index: 99;
    position: sticky;
    top: 0;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(146, 146, 146);
    background-color: rgb(146, 146, 146);
    text-align: center;
    width: 100%;
}
.text_level_one_div {
    margin: auto;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    text-align: center;
    width: 50%;
}